registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/mirrors/node/
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
canvas_binary_host_mirror=https://npmmirror.com/mirrors/node-canvas-prebuilt/
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/
fse_binary_host_mirror=https://npmmirror.com/mirrors/fsevents/
esbuild_binary_host_mirror=https://npmmirror.com/mirrors/esbuild/
python_mirror=https://npmmirror.com/mirrors/python/